@{
	ViewData["Title"] = "SkyCast";
}

<div id="main" style="width: 100%; margin-top: 1%">
	<!--<div id="map" style="height: 600px"></div>
	<span style="width: 5.5%">Location: </span>-->
	<input type="text" id="autocomplete" style="width: 90%" placeholder="Enter your location" />
	<button type="button" onclick="queryWeather()">Get Weather</button>
	<div class="row">
		<h2 id="weather-location" class="text-center">---</h2>
	</div>
</div>

<div class="jumbotron" id="info" hidden>
	<div class="col-md-6">
		<div id="graph"></div>
	</div>
	<div class="col-md-3" style="margin-top: 7%">
		<div class="row">
			<h2 id="summary" class="text-center">Summary: --</h2>
		</div>
		<div class="row">
			<h2 id="weather-high" class="text-center">High: --</h2>
		</div>
		<div class="row">
			<h2 id="weather-low" class="text-center">Low: --</h2>
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 13%; text-align: center">
		<p id="weather-current" class="text-center" style="font-size: 92px">--</p>
	</div>
</div>

<div id="forecast" hidden>
	<div class="col-md-2 text-center">
		<p id="day1"></p>
		<p id="day1-high">High: --</p>
		<p id="day1-low">Low: --</p>
	</div>
	<div class="col-md-2 text-center">
		<p id="day2"></p>
		<p id="day2-high">High: --</p>
		<p id="day2-low">Low: --</p>
	</div>
	<div class="col-md-2 text-center">
		<p id="day3"></p>
		<p id="day3-high">High: --</p>
		<p id="day3-low">Low: --</p>
	</div>
	<div class="col-md-2 text-center">
		<p id="day4"></p>
		<p id="day4-high">High: --</p>
		<p id="day4-low">Low: --</p>
	</div>
	<div class="col-md-2 text-center">
		<p id="day5"></p>
		<p id="day5-high">High: --</p>
		<p id="day5-low">Low: --</p>
	</div>
	<div class="col-md-2 text-center">
		<p id="day6"></p>
		<p id="day6-high">High: --</p>
		<p id="day6-low">Low: --</p>
	</div>
</div>

@section Scripts {
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="~/js/Weather.js" asp-append-version="true"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1tYuyKiugDJH6OJ9W69kILJRPQdj_CrE&sensor=false&callback=initMap&libraries=places&weather"
			async defer></script>

	<script type="text/javascript">
		function queryWeather() {
			if (@User.Identity.IsAuthenticated.ToString().ToLower())
			{
			}
			getWeather();

		}
	</script>
}
