@{
	ViewData["Title"] = "SkyCast";
}
@inject UserManager<ApplicationUser> UserManager

<div id="map" hidden></div>

<div id="search" style="width: 100%; margin-top: 1%">
	<!--<div id="map" style="height: 600px"></div>
	<span style="width: 5.5%">Location: </span>-->
	<input type="text" id="autocomplete" style="width: 90%" placeholder="Enter a location" />
	<button type="button" class="btn btn-default" onclick="queryWeather()">Get Weather</button>
</div>

<div class="row">
    <h2 id="weather-location" class="text-center"></h2>
</div>

<div class="jumbotron" id="info" hidden>
    <div class="row">
        <div class="col-md-6">
            <div id="graph"></div>
            <a href="javascript:void(0)" id="maxTempGraph" onclick="renderGraph(0)">Max Temperature</a>
            <a href="javascript:void(0)" id="minTempGraph" onclick="renderGraph(1)">Min. Temperature</a>
            <a href="javascript:void(0)" id="windGraph" onclick="renderGraph(2)">Wind Speed</a>
            <a href="javascript:void(0)" id="precipGraph" onclick="renderGraph(3)">Precipitation</a>
        </div>
        <div class="col-md-3 text-center" style="margin-top: 12%">
            <h1 id="weather-current" style="font-size: 92px">--</h1>
            <h2 id="weather-high">High: --</h2>
            <h2 id="weather-low">Low: --</h2>
        </div>
        <div class="col-md-3 text-center" style="margin-top: 15%; text-align: center">
            <i class="fa fa-sun-o fa-5x" id="iconToday" aria-hidden="true"></i>
            <h2 id="summary">Summary: --</h2>
            <div class="row text-center"><a href="javascript:void(0)" onclick="moreInfo()">More Info</a></div>
        </div>
    </div>
</div>

<div class="text-center" id="forecast" hidden>
	<div class="col-md-2">
		<p id="day1"></p>
		<p id="day1-high">High: --</p>
		<p id="day1-low">Low: --</p>
	</div>
    <div class="col-md-2">
        <p id="day2"></p>
        <p id="day2-high">High: --</p>
        <p id="day2-low">Low: --</p>
    </div>
    <div class="col-md-2">
        <p id="day3"></p>
        <p id="day3-high">High: --</p>
        <p id="day3-low">Low: --</p>
    </div>
    <div class="col-md-2">
        <p id="day4"></p>
        <p id="day4-high">High: --</p>
        <p id="day4-low">Low: --</p>
    </div>
    <div class="col-md-2">
        <p id="day5"></p>
        <p id="day5-high">High: --</p>
        <p id="day5-low">Low: --</p>
    </div>
    <div class="col-md-2">
        <p id="day6"></p>
        <p id="day6-high">High: --</p>
        <p id="day6-low">Low: --</p>
    </div>
</div>

@section Scripts {
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="~/js/Weather.js" asp-append-version="true"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1tYuyKiugDJH6OJ9W69kILJRPQdj_CrE&sensor=false&callback=initMap&libraries=places&weather"
			async defer></script>

	<script type="text/javascript">
        function queryWeather() {

            if (!newQuery) {
                alert("Help me reduce the api call count by not spamming the Get Weather button =)");
                return;
            }

			if (@User.Identity.IsAuthenticated.ToString().ToLower())
            {
                var query = $("#autocomplete").val();
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("CreateQuery", "History")',
                    data: { query: query, id: '@UserManager.GetUserId(User)' },
                    success: function (response) {
                        getWeather();
                    }
                })
                .error(function (jqXHR, textStatus, errorThrown) {
                    alert("Server error. Please try again later.");
                })
            }
            else
            {
                getWeather();
            }
		}
	</script>
}
